  body {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(22, 22, 22);
  color: white;
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-rows: 175px 1fr 100px;
  grid-template-areas: 
  "header header header"
  "main main main"
  "footer footer footer";
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  font-family: 'Qwigley', cursive;
  font-size: 45px;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.49);
  background-color: rgb(17, 17, 17);
}

.container {
  max-width: 80vw;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(auto-fill, 1fr);
  padding-bottom: 100px;
}

figure img {
  height: 250px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: fit-content;
  border: 1px solid rgb(43, 43, 73);
  border-radius: 5px;
  padding: 15px;
  gap: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

main {
  padding-top: 100px;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  grid-area: main;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  grid-area: footer;
  font-size: 20px;
}

button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgb(117, 117, 202);
  color: white;
  font-weight: bold;
}
.newButton {
  height: 380px;
}

.newButtonFig:hover, .newButtonFig:hover > .newButton {
  transition: 0.2s ease;
  background-color: rgb(172, 235, 164);
  color: rgb(28, 97, 28);
  text-overflow: hidden;
}

.popUp {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 650px;
  height: 550px;
  position: absolute;
  background-color: rgb(0, 0, 26);
  border-radius: 15px;
  padding-bottom: 80px;
  visibility: hidden;
}

.popUp.active {
  visibility: visible;
}

#editForm {
  width:300px;
  height:400px;
}

.input {
  font-size: 16px;
  letter-spacing: 1.5px;
  font-style: italic;
  color: rgb(212, 212, 212);
}

input[type="file"] {
  border: 0.5px solid white;
  border-radius: 10px;
  width: 300px;
}

input[type="number"] {
  width: 50px;
}

legend {
  font-size: 35px;
  font-weight: bold;
}

.fa-xmark {
  align-self: flex-end;
  margin: 20px 20px 5px 5px;
  padding: 0;
  background: none;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

form .book_details{
  display: flex;
  flex-direction: column;
  gap: 30px;
} 

.fa-book-medical {
  font-size: 40px;
  padding: 50px;
}

button {
  font-size: 16px;
  cursor: pointer;
}

aside {
  justify-self: flex-end;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  padding: 20px 80px 40px 80px;
  gap: 15px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author, .status_display {
  font-style: italic;
  color: rgb(212, 212, 212);
}

.fa-trash-can:hover {
  transition: 0.2s ease;
  background-color: rgb(211, 77, 77);
  color: rgb(97, 28, 28);
}

.newButtonFig {
  background-color: rgb(117, 117, 202);
  border-radius: 15px;
  align-self: center;
  border: none;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.fa-pen-to-square:hover {
  transition: 0.2s ease;
  background-color: rgb(54, 26, 216);
  color: rgb(11, 9, 105);
}

.fa-github {
  font-size: 40px;
}
